{% extends 'Page/page_base.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}Check in{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'scss/lab_checkin.scss' %}">
{% endblock %}


{% block script %}
<script src="{% static 'js/lab_checkin.js' %}"></script>
<script type="text/javascript">
    let csrf_token = '{{csrf_token}}'; // Django will render this, don't move to .js file !!!
    const checkin_url = "{% url 'kmutnbtrackapp:check_in' lab_hash  %}";
    const checkout_url = "{% url 'kmutnbtrackapp:check_out' lab_hash  %}";

    $(document).ready(function () {
        var body = $("body")
        $("#checkin_button").click(function (event) {
            let isChecked = $('input:checkbox:checked')

            if (checkTime() && isChecked.length==1){
                $.ajax({
                    headers: { "X-CSRFToken": csrf_token },
                    type: "POST",
                    url: checkin_url,
                    data: {
                        'check_out_time': $("#time_value").val()
                    },
                    success: function (response) {
                        var parser = new DOMParser();
                        var responseHtml = parser.parseFromString(response, "text/html");
                        $("body").html(responseHtml.body)
                        $("#feedbackModal").modal('show')
                        $("#feedbackSubmit").click(function (event) {
                            $("#feedbackModal").modal('hide')
                        })
                    },
                })
            }
            else if(isChecked.length==1) {
                $('#status').text('กรุณาเลือกเวลาใช้งานที่ถูกต้อง').show()
            }
            else {
                $('#status').text('กรุณาเลือกเวลาเช็คเอาท์').show()
            }
        })
    });

    function showModal() {
       // document.getElementById('feedbackModal').style.display='block'
        
    }

    let feedbackApiURL = "{% url 'kmutnbtrackapp:add_feedback' %}"
    function feedbackSubmit()
    {
            let checkedStar = document.querySelector('input[name = "rating"]:checked')
            if (checkedStar != null)
            {
                let selectedRating = checkedStar.value;
                let userComment = document.getElementById("comment").value;

                let data = new FormData();
                data.append("rating", selectedRating)
                data.append("comment", userComment)

                fetch(feedbackApiURL,{
                    method: "POST",
                    headers: { 
                        'X-CSRFToken': csrf_token,
                    },
                    body:data
                })
                .then(response =>{ 

                    console.log(`rating ${selectedRating} submitted!`)
                })
            }
    }
        
    
</script>
{% endblock %}


{% block content %}
<!-- username dropdown -->
<header>
    <div class="username position-relative float-right">
        <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="avatar">
                <svg viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg" width="80" height="80">
                    <mask id="mask__beam" maskUnits="userSpaceOnUse" x="0" y="0" width="36" height="36">
                        <rect width="36" height="36" rx="72" fill="white"></rect>
                    </mask>
                    <g mask="url(#mask__beam)">
                        <rect width="36" height="36" fill="#ceecef"></rect>
                        <rect x="0" y="0" width="36" height="36" transform="translate(-2 -2) rotate(186 18 18) scale(1)" fill="#ffc52c" rx="36"></rect>
                        <g transform="translate(-2 -2) rotate(6 18 18)">
                            <path d="M15 19c2 1 4 1 6 0" stroke="black" fill="none" stroke-linecap="round"></path>
                            <rect x="13" y="14" width="1.5" height="2" rx="1" stroke="none" fill="black"></rect>
                            <rect x="21" y="14" width="1.5" height="2" rx="1" stroke="none" fill="black"></rect>
                        </g>
                    </g>
                </svg>
                <span>{{ request.user.first_name }}</span>
                <i class="fas fa-chevron-down"></i>
            </div>
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="dropdown-item">
                <a href="{% url 'kmutnbtrackapp:logout' %}?lab={{ lab_hash }}" class="nav-link">ออกจากระบบ</a>
            </li>
        </ul>
    </div>
</header>

<!-- exceeded limit -->
{% if lab_exceeded_limit %}
    <div class="alert" role="alert">
        <h2 class="heading">คำเตือน</h2>
        <hr>
        <h4>ห้องแลปเกินโควต้า<br>ที่สามารถเช็คอินได้ <p>{{ maximum_people }} คน</p></h4>
        <h5>โปรดแจ้งอาจารย์ประจำแลป<br>เพื่อขออนุญาตทำการเช็คอิน</h5>
    </div>
{% endif %}

<main>
    <div class="container">
        <div class="about-lab-card">
            <h1 class="room-name">
                <img src="{% static 'images/logo.png' %}" alt="lab_pic">
                {{ lab_name }}
            </h1>
            <h2 class="amount-people">
                <i class="fas fa-user"></i>
                จำนวนคนในแลปขณะนี้
                <p>{{ current_people }} คน</p>
            </h2>
        </div>
        
        <div class="time-picker-wrapper">
            <h2 class="title">เลือกเวลาเช็คเอาท์</h2>

            <form id="TimeForm">
                {% csrf_token %}
                <input name="next" id="lab_hash" value="{{lab_hash}}" hidden>
                <p id="status">กรุณาเลือกเวลาใช้งานที่ถูกต้อง</p>
                <div class="time-picker row">
                    <div class="col">
                    {% if time_option == 1 %}
                        <input type="checkbox" class="btn-check" id="12:00" value="12:00" autocomplete="off">
                        <label class="btn btn-outline-primary" for="12:00">12:00</label>
                        <input type="checkbox" class="btn-check" id="16:00" value="16:00" autocomplete="off">
                        <label class="btn btn-outline-primary" for="16:00">16:00</label>
                        <input type="checkbox" class="btn-check" id="20:00" value="20:00" autocomplete="off">
                        <label class="btn btn-outline-primary" for="20:00">20:00</label>
                        <input type="checkbox" class="btn-check" id="others" value="others" autocomplete="off">
                        <label class="btn btn-outline-primary" for="others">กำหนดเอง</label>
                    {% elif time_option == 2 %}
                        <input type="checkbox" class="btn-check" id="16:00" value="16:00" autocomplete="off">
                        <label class="btn btn-outline-primary" for="16:00">16:00</label>
                        <input type="checkbox" class="btn-check" id="20:00" value="20:00" autocomplete="off">
                        <label class="btn btn-outline-primary" for="20:00">20:00</label>
                        <input type="checkbox" class="btn-check" id="others" value="others" autocomplete="off">
                        <label class="btn btn-outline-primary" for="others">กำหนดเอง</label>
                    {% elif time_option == 3 %}
                        <input type="checkbox" class="btn-check" id="20:00" value="20:00" autocomplete="off">
                        <label class="btn btn-outline-primary" for="20:00">20:00</label>
                        <input type="checkbox" class="btn-check" id="others" value="others" autocomplete="off">
                        <label class="btn btn-outline-primary" for="others">กำหนดเอง</label>
                    {% elif time_option == 4 %}
                        <input type="checkbox" class="btn-check" id="others" value="others" autocomplete="off">
                        <label class="btn btn-outline-primary" for="others">กำหนดเอง</label>
                    {% endif %}
                    </div>
                </div>

                <div class="select-time">
                    <input type="time" class="form-control" name="check_out_time" id="time_value" value="12:00" 
                    onchange="checkTime()"/>
                </div>

                <button type="button" class="checkin-btn" id="checkin_button">
                    เช็คอิน
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}

