{% extends 'Page/page_base.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Login{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'scss/log_in.scss' %}">
{% endblock %}

{% block script %}
<script type="text/javascript">
    $('#wave-dark-blue').wavify({
        height: 50,
        bones: 5,
        amplitude: 40,
        color: '#1261A0',
        speed: .25
    });

    $('#wave-blue').wavify({
        height: 50,
        bones: 3,
        amplitude: 50,
        color: '#459AE0',
        speed: .15
    });

    function Click_Sign_in_with_google() {
        location.href="{% url 'social:begin' 'google-oauth2' %}?next={{ lab_hash }}";
    }
    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }
    function SaveTel(){
        let phoneNumber = document.getElementById("tel").value
        sessionStorage.setItem('tel', phoneNumber)
    }
</script>
{% endblock %}

{% block content %}
<!-- navbar LabTrack -->
<header>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave-blue">
        <defs></defs><path id="wave-blue" d=""/>
    </svg>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave-darkblue">
        <defs></defs><path id="wave-dark-blue" d=""/>
    </svg>

    <div class="lab-name position-absolute float-right">
        <a href="#">
            <img src="{% static 'images/logo.png' %}" width="30" height="auto" class="d-inline-block" alt="" loading="lazy">
            {{ lab_name }}
        </a>
    </div>
</header>

<!-- log in form -->
<main>
    <div class="container">
        <div class="heading">
            <h1>เข้าสู่ระบบ</h1>
        </div>
        <div class="card">
            <div class="card-container">
                <div class="form">
                    <h2 class="title">สำหรับบุคลากรและนักศึกษา</h2>
                    <h2 class="title">ภายในมหาวิทยาลัย</h2>
                    <button onclick="Click_Sign_in_with_google()" class="google-btn">
                        <i class="fab fa-google"></i>
                        เข้าใช้งานด้วยบัญชี <b>KMUTNB</b>
                    </button>
                </div>
                <div class="form">
                    <h2 class="title">สำหรับบุคคลภายนอก</h2>
                    <form action="{% url 'kmutnbtrackapp:login' %}?next={{ lab_hash }}" method="post" name="login" onsubmit="SaveTel()">
                        {% csrf_token %}
                        <input value="{{ lab_hash }}" name="next" hidden>
                        <div class="form-outline">
                            <input type="tel" name="tel" class="form-control" id="tel" minlength="9" maxlength="10" onkeypress='validate(event)'
                            required aria-describedby="emailHelp" placeholder="กรุณากรอกหมายเลขโทรศัพท์">
                        </div>
                        <button type="submit" class="login-btn">
                            เข้าใช้งานด้วยหมายเลขโทรศัพท์
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <a href="{% url 'kmutnbtrackapp:home' %}">
        <img src="{% static 'images/Logo_LabTrack.png' %}" alt="LabTrack-Logo">
    </a>
</footer>

{% endblock %}