{% extends 'Page/page_base.html' %}
{% load static %}
{% load sass_tags %}

{% block title%}Login{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'scss/signup_form.scss' %}">
{% endblock %}

{% block script %}
<script src="{% static 'js/signup_form.js' %}"></script>
{% endblock %}

{% block content %}
<!-- lab name & wave svg -->
<header>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave-blue">
        <defs></defs><path id="wave-blue" d=""/>
    </svg>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave wave-darkblue">
        <defs></defs><path id="wave-dark-blue" d=""/>
    </svg>

    <div class="lab-name position-absolute float-right">
        <a href="#">
            <img src="{% static 'images/logo.png' %}" width="30" height="auto" class="d-inline-block" alt="" loading="lazy">
            {{ lab_name }}
        </a>
    </div>
</header>

<!-- sign up form -->
<main>
    <div class="container">
        <div class="heading">
            <h1>เข้าใช้งานครั้งแรก</h1>
        </div>
        <form action="{% url 'kmutnbtrackapp:signup' lab_hash=lab_hash %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card">
            <div class="card-container">
                <div class="form">
                    <h2 class="title">สำหรับการเข้าใช้งานครั้งแรก</h2>
                    <h2 class="title-under">กรุณาระบุชื่อ - นามสกุล ก่อนเข้าใช้งาน</h2>
                    
                    {% if wrong == 2 %} 
                    <div class="text-warning text-center">
                        <p>หมายเลขโทรศัพท์นี้ถูกใช้งานแล้ว<br>กรุณาสแกน QR Code ใหม่อีกครั้ง</p>
                    </div>
                    {% endif %}
                    
                    <div class="form-outline">
                        <label for="first_name">ชื่อ</label>
                        <input required type="text" class="form-control" name="first_name" id="name" placeholder="สมหมาย">
                    </div>
                    <div class="form-outline">
                        <label for="last_name">นามสกุล</label>
                        <input required type="text" class="form-control" name="last_name" id="surname" placeholder="รักเรียน">
                    </div>
                    <div class="form-outline">
                        <label for="telInput">หมายเลขโทรศัพท์</label>
                        <input readonly id="telInput" type="text" name="tel" class="form-control" aria-describedby="emailHelp" value="">
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-container">
            <button type="submit" id="submit" class="signup-btn">ลงทะเบียน</button>
        </div>

        </form>
    </div>
</main>

<footer>
    <a href="{% url 'kmutnbtrackapp:home' %}">
        <img src="{% static 'images/Logo_LabTrack.png' %}" alt="LabTrack-Logo">
    </a>
</footer>

{% endblock %}
