@import 'base';

@mixin dropdown($color, $text-style, $bg-color) {
    color: $color;
    text-decoration: $text-style;
    background-color: $bg-color;
}

@mixin badge($color) {
    margin: 0;
    color: $color;
    border-radius: 25px;
    text-shadow: none;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.16);
    display: inline-block;
    background-color: white;
    padding: 5px 10px 5px 10px;
}

/* set button */
%button {
    width: 40vw;
    border: none;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, 
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-family: $font-stack;

    &:focus {
        outline: none;
    }
}

/* header */
.username {
    padding: 3px 10px 3px 5px;
    position: relative;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 50px;
    box-shadow: $shadow;
    background-color: white;

    svg {
        margin-top: -5px;
        width: 2rem;
        height: auto;

        @include breakpoint(xs) {
            width: 1.7rem;
        }
    }

    span {
        font-size: 1.5rem;

        @include breakpoint(xs) {
            font-size: 1.2rem;
        }
    }

    i {
        font-size: 1rem;

        @include breakpoint(xs) {
            font-size: 0.5rem;
        }
    }
}

.dropdown-toggle {
    display: flex;
    align-items: center;

    &:hover, &:focus {
        text-decoration: none;
    }

    &::after {
        display: none;
    }
}

.dropdown-menu {
    position: relative;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    display: none;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    padding: 0.5rem 0;
    margin: 0.2rem 0 0;
    border-radius: 0.25rem;
    background-color: white;
    background-clip: padding-box;
    box-shadow: 0 2px 30px 0 rgba(207,207,207,0.5);

    &.show {
        display: block;
        margin: 10px 30px 0 0;
    }
}

.dropdown-item {
    border: 0;
    display: block;
    width: 100%;
    clear: both;
    font-size: 1.2rem;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;

    @include breakpoint(xs) {
        font-size: 1rem;
    }

    &:hover, &:focus {
        @include dropdown(#16181b, none, #f8f9fa);
    }

    &.active, &:active {
        @include dropdown(white, none, #007bff);
    }

    &.disabled, &:disabled {
        @include dropdown(#6c757d, none, transparent);
    }
}

/* alert lab exceeded limit */
.alert {
    position: relative;
    top: 70px;
    left: 0;
    width: 40vw;
    border: none;
    color: #ff3232;
    margin: 10px auto;
    text-align: center;
    border-radius: 15px;
    background-color: $light-red;

    @include breakpoint(xs) {
        width: 90vw;
    }
    @include breakpoint(sm) {
        width: 60vw;
    }
    @include breakpoint(lg) {
        width: 40vw;
    }

    h2.heading {
        @include breakpoint(xs) {
            margin-left: 5rem;
            font-size: 1.5rem;
        }
    }

    hr {
        margin: 10px 0;
    }

    h4 {
        @include breakpoint(xs) {
            font-size: 1.2rem;
        }
    }

    h5 {
        @include breakpoint(xs) {
            font-size: 1rem;
        }
    }

    br {
        @include breakpoint(md) {
            display: none;
        }
    }

    p {
        @include badge(#ff3232);
    }
}

/* card */
main {
    display: table;
    position: relative;
    top: 70px;
    left: 0;
    height: 100%;
    width: 100%;

    @include breakpoint(xs) {
        top: 70px;
    }

    .container {
        width: 100%;
        padding: 0;
        display: table;
    }
}

.about-lab-card {
    width: 40vw;
    color: white;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background: linear-gradient(45deg, #03a9f4, #0288d1);

    @include breakpoint(xs) {
        width: 90vw;
        padding: 10px;
    }
    @include breakpoint(sm) {
        width: 60vw;
    }
    @include breakpoint(lg) {
        width: 40vw;
    }

    img {
        width: 50px;

        @include breakpoint(xs) {
            width: 30px;
        }
    }

    h1.room-name {
        margin: 0.5rem;
        font-size: 2.4rem;
        text-shadow: 3px 3px rgba(0, 0, 0, 0.16);

        @include breakpoint(xs) {
            font-size: 1.6rem;
        }
    }

    h2.amount-people {
        margin: 0.5rem;
        padding-top: 0.4rem;
        font-size: 1.8rem;
        text-shadow: 3px 3px rgba(0, 0, 0, 0.16);

        @include breakpoint(xs) {
            font-size: 1.1rem;
        }
    
        p {
            @include badge($dark-blue);
        }
    }
}

/* time picker */
.time-picker-wrapper {
    width: 100%;
    padding: 1rem 0;
    box-shadow: $shadow;
    margin: 1.5rem 0;
    background-color: white;

    h2.title {
        margin: 1rem 0 1rem 30vw;
        font-size: 1.8rem;

        @include breakpoint(xs) {
            margin: 0.5rem 0 0.5rem 5vw;
            font-size: 1.5rem;
        }
        @include breakpoint(sm) {
            margin: 0.5rem 0 0.5rem 20vw;
        }
        @include breakpoint(lg) {
            margin: 1rem 0 1rem 30vw;
        }
    }

    p { 
        width: 40vw;
        display: none;
        color: #ff3232;
        padding: 0.3rem;
        font-size: 1.4rem;
        text-align: center;
        border-radius: 10px;
        margin: 0.5rem auto;
        background-color: $light-red;

        @include breakpoint(xs) {
            width: 90vw;
            font-size: 1rem;
        }
        @include breakpoint(sm) {
            width: 60vw;
        }
        @include breakpoint(lg) {
            width: 40vw;
        }
    }
}

.time-picker {
    margin-left: 30vw;
    line-height: 0.5rem;

    @include breakpoint(xs) {
        margin-left: 5vw;
    }
    @include breakpoint(sm) {
        margin-left: 20vw;
    }
    @include breakpoint(lg) {
        margin-left: 30vw;
    }

    .col {
        position: relative;
        max-width: 40vw;
        transition: transform 0.5s ease;

        @include breakpoint(xs) {
            max-width: 90vw;
        }
        @include breakpoint(sm) {
            max-width: 60vw;
        }
        @include breakpoint(lg) {
            max-width: 40vw;
        }
    }

    label {
        margin: 0.5rem;
        color: $dark-blue;
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        border-radius: 50px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        text-decoration: none;
        border: 1px solid $dark-blue;
        background-color: white;
        padding: 5px 10px 5px 10px;

        @include breakpoint(xs) {
            font-size: 1.2rem;
        }

        i.fa-times {
            font-size: 1.4rem;
            margin-left: 5px;

            @include breakpoint(xs) {
                font-size: 1.2rem;
            }
        }    
    }

    .btn-check + .btn-outline-primary {
        color: $dark-blue;
        background-color: white;
        border-color: $dark-blue;
    }

    input {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }

    .btn-check:active + .btn-outline-primary,
    .btn-check:checked + .btn-outline-primary {
        color: white;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }
}

.select-time {
    display: table;
    margin: 0 auto;

    input[type=time] {
        width: 10vw;
        display: none;
        font-size: 1.3rem;
        border-radius: 50px;
        font-family: $font-stack;
        margin: 1rem auto 1rem auto;
        box-shadow: 3px 3px rgba(0, 0, 0, 0.16);

        @include breakpoint(xs) {
            width: 40vw;
            font-size: 1rem;
        }
        @include breakpoint(sm) {
            width: 20vw;
        }
        @include breakpoint(lg) {
            width: 10vw;
        }

        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
}

/* check in button */
.checkin-btn {
    @extend %button;
    display: table;
    font-size: 1.4rem;
    margin: 1rem auto 1rem auto;
    background-color: #00c853;

    @include breakpoint(xs) {
        width: 90vw;
        font-size: 1.2rem;
    }
    @include breakpoint(sm) {
        width: 60vw;
    }
    @include breakpoint(lg) {
        width: 40vw;
    }

    &:hover {
        background-color: darken(#00c853, 5%);
    }
}